body {
  font-family: monospace;
}
h1 {
  display: inline-block;
  font-size: 3em;
  margin: 1rem;
  padding: 14px;
}
h3 {
  color: black;
  font-size: 1.4rem;
  margin-top: 3px;
  text-align: center;
}
#chatbox {
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  margin-top: 60px;
}
#userInput {
  margin-left: auto;
  margin-right: auto;
  padding: 0.5rem;
  width: 60%;
  margin-top: 60px;
}
#textInput {
  width: 90%;
  border: none;
  padding: 0.5rem;
  border-bottom: 3px solid black;
  font-family: monospace;
  font-size: 1.2rem;
}
.userText {
  color: white;
  font-family: monospace;
  font-size: 1.20rem;
  text-align: right;
  line-height: 30px;
}
.userText span {
  background-color: #808080;
  padding: 10px;
  border-radius: 2px;
}
.botText {
  color: white;
  font-family: monospace;
  font-size: 1.20rem;
  text-align: left;
  line-height: 30px;
}
.botText span {
  background-color: #4169e1;
  padding: 10px;
  border-radius: 2px;
}
#tidbit {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 300px;
}


.boxed {
  margin-left: auto;
  margin-right: auto;
  width: 78%;
  margin-top: 60px;
  border: 1px solid green;
}

@media(max-width: 600px) {

  #chatbox {
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    margin-top: 60px;
  }
  #userInput {
    margin-left: auto;
    margin-right: auto;
    padding: 0.5rem;
    width: 90%;
    margin-top: 60px;
  }
  #textInput {
    width: 90%;
    border: none;
    padding: 0.5rem;
    border-bottom: 3px solid black;
  }

  .boxed{
    width: 95%;
    margin-top: 20px;
  }
}
